.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #251d20;
  transition: background-color 500ms ease-out 200ms;
  height: 100%;
}

.App header {
  top: 0;
  left: 0;
}

.App h1 {
  font-family: 'Leckerli One', cursive;
}

.App header,
.App footer {
  position: absolute;
  width: 100%;
  background-color: transparent;
  
}

.App header div,
.App footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px 0;
}

.App header div h1 {
  max-width: 260px;
  font-size: 2rem;
  margin: 0;
}

.App footer {
  position: absolute;
  font-weight: bold;
  color: #251d20;
  background-color: #4f9a43;
}

.App footer a {
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;

}

.App footer div {
  font-size: 1.5rem;
}

.App footer div p {
  max-width: 320px;
  text-align: start;
}

@media (min-width: 992px) { 
  .App header,
  .App footer {
  position: fixed;
  }

  
  .App footer {
    bottom: 0;
    background-color: transparent;
  }

  .App header div,
  .App footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 15px 0;
    font-size: 2rem;
  }

  .App footer a {
    font-size: 2rem;
  }

}

